<div class="container">
  <div class="vh-100 bg-light bg-gradient w-100">
    <div class="row h-25 justify-content-center">
      <div class="col-8 mt-3">
        <div class="input-group">
          <button class="btn btn-primary"  [disabled]="address" type="button" (click)="connectWallet()">{{address ? 'Conectado a:' :
            'Conectar'}}</button>
          <input type="text" class="form-control" [value]="address" disabled style="flex: 4;">
          <span class="input-group-text bg-primary bg-gradient text-white">Balance</span>
          <input type="text" class="form-control" [value]="accountBalance" disabled style="flex: 1;">
        </div>
      </div>
    </div>
    
    <div class="h-50 d-flex justify-content-center align-items-center">
      <div class="card  w-50">
        <div class="card-header bg-primary bg-gradient text-white">
          <div class="row">
            <div class="col-6">
              <span class="card-title h5">Simple Swap Contract</span>
            </div>
            <div class="col-6 text-end">
              <span class="card-text ">Price: {{price}}</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-token [tipo]="'A'" [direccion]="directionAtoB"[(valor)]="amountA" [balance]="balanceA"></app-token>
          <div class="d-flex justify-content-center my-3">
            <button type="button" class="btn btn-secondary" (click)="changeDirection()"> To
              <i class="bi {{ directionAtoB ? 'bi-caret-down-fill' : ' bi-caret-up-fill'}}"></i>
            </button>
          </div>
          <app-token [tipo]="'B'" [direccion]="!directionAtoB" [(valor)]="amountB" [balance]="balanceB"></app-token>
        </div>
        <div class="card-footer  {{approved ? 'bg-success-subtle' : 'bg-warning-subtle'}} 
         d-flex justify-content-center align-items-center">
          <button *ngIf="!approved" type="button" (click)="approve()" class="btn btn-warning">
            Approve
            <span *ngIf="working" class="spinner-border spinner-border-sm" aria-hidden="true" ></span>
          </button>
           <button *ngIf="approved" type="button" (click)="swap()" class="btn btn-success">Swap
            <span *ngIf="working" class="spinner-border spinner-border-sm" aria-hidden="true" ></span>
           </button>
        </div>
      </div>
      <ngb-toast *ngIf="showAlertFlag" [class]="alert.type"
            [autohide]="true"
            [delay]="5000"
            [header]="alert.header"
            (hidden)="closeAlert()">{{ alert.message }}
      </ngb-toast> 
    </div>
    <div class="text-center">
      <button type="button" (click)="openFaucet(content)" class="btn btn-success mb-5">Faucet</button>
      <div class="text-muted">
        <span>© 2023 - Simple Swap</span>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header bg-primary bg-gradient">
		<h5 class="modal-title text-white" id="modal-basic-title">Faucet</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
	</div>
	<div class="modal-body">
    <div class="input-group">
      <select class="form-select" [(ngModel)]="fausetTokenType" id="selectToken">
        <option selected value="1">Token A</option>
        <option value="2">Token A</option>
        <option value="3">Tokens AyB</option>
      </select>
      <label class="input-group-text" for="inputAmount">Amount:</label>
      <input type="number" [(ngModel)]="fausetTokenAmount" id="inputAmount" class="form-control">
      <button class="btn btn-success" (click)="askToken()" type="button">Send <span *ngIf="workingFauset" class="spinner-border spinner-border-sm" aria-hidden="true" ></span></button>
  </div>
		
	</div>
</ng-template>