<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Token <span class="badge text-bg-primary rounded-pill">{{tipo}}</span></h4>
        </div>
        <div class="col-6">
            <p>Balance: {{balance}}</p>
        </div>
    </div>
    <div class="row">
        <input type="number" class="form-control" [(ngModel)]="valor" (ngModelChange)="onValorChange()"
            placeholder="Cantidad de token {{tipo}}" placement="bottom"
            ngbTooltip="{{ direccion ? 'Cant. a Entregar' : 'Minima Cant. a Recibir'}}">
    </div>
</div>